.restaurantShowImgContainer {
    height: 296px;
}

.restaurantShowImg {
    height: 296px;
    object-fit: cover;
    width: 100%;
    /* animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: img; */
}

.restaurantShowMainContainer {
    font-family: 'Lato';
    padding: 0 32px 92px;
    border-radius: 4px;
    display: block;
    /* box-sizing: border-box; */
    /* justify-content: center; */
    /* position: relative; */
    /* padding: 0 16px calc(128px - 0.25rem); */
    color: #2d333f;
}

.restaurantShowName {
    padding: 32px 0;
    border-bottom: 0.0625rem solid #d8d9db;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}

.restaurantShowDetails {
    display: flex;
    align-items: center;
    /* margin-top: 16px; */
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    /* color: #2d333f; */
}

.utensilIconContainer {
    display: flex;
    align-items: center;    
    margin-top: 16px;
}

.utensilIcon {
    margin-right: 4px;
    height: 1.5rem;
}

.restaurantShowDescription {
    margin-top: 32px;
    line-height: 24px;

    /* font-weight: 500; */
    /* font-size: 14px; */
}

.reservationFormContainer {
    /* display: block; */
    margin-top: 32px;
    /* line-height: 1.15; */
    border-radius: 4px;
    box-shadow: 0 2px 4px #2d333f33;
    padding: 16px;
}

.reviewsHeader {
    margin: 48px 0 32px;
    padding-bottom: 16px;
    border-bottom: .0625rem solid #d8d9db;
    color: #2d333f;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
}

.reportLi {
    display: flex;
    border-bottom: .0625rem solid #d8d9db;
    padding-bottom: 36px;
    margin-bottom: 32px;
    line-height: 1.15;
}

.reportUser {
    margin: 0 16px;
    text-align: center;
    width: 6rem;
    font-size: .875rem;
    font-weight: 501;
}

.reportDineDate {
    margin-bottom: 8px;
    font-size: .875rem;
    font-weight: 501;
    /* line-height: 1.25rem; */
}

.reportRatings {
    display: flex;
}

.ratingCategory {
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
}

.userRating {
    color: #da3743;
    font-size: 14px;
    font-weight: 700;
}

.userRating:last-of-type::after {
    display: none;
}

.userRating::after {
    color: #2d333f;
    content: "\B7";
    padding: 0 4px;
}

.reportReview {
    margin-top: 16px;
    line-height: 24px;
}