#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#modal-background {
    position: fixed;    /* should this be absolute? */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #0000008f;
}

#modal-content {
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    width: 443.2px;
    height: 73vh;
    /* min-height: calc(48.0625rem - 96px); */
    padding: 72px 32px 48px;
}