.userPageUsername {
    font-family: 'Lato';
    border-bottom: 0.0625rem solid #d8d9db;
    color: #2d333f;
    padding: 16px 1.5rem;
    font-size: 32px;
    font-weight: 700;
}

.userPageNav {
    font-family: 'Lato';
    border-bottom: 0.0625rem solid #d8d9db;
    padding: 1.5rem;
    font-weight: 600;
    font-size: 14px;
}

.userPageReservContainer {
    margin: 32px 16px;
    /* min-height: 32rem; */
}

.userPageReservItemContainer {
    display: flex;
    padding: 32px;
    border-radius: 4px;
    margin: 32px 32px 0;
    /* margin-bottom: 16px; */
    font-family: 'Lato';
    line-height: 1.5rem;
    border: 0.0625rem solid #d8d9db;
}

.reviewLinks {
    display: flex;
    color: #da3743;
    cursor: pointer;
    margin-top: 8px;
}