/* TODO Add site wide styles */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

header {
  padding: 14px;
  background-color: #f1f2f4;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

* {
    font-family: 'Lato';
}

button {
  background-color: #da3743;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition-duration: 0.3s;
  transition-property: background-color;
}

.red:hover {
  cursor: pointer;
  background-color: #b8222d;
}