.profileButton {
    color: #2d333f;
    /* margin: 0 4px; */
    display: flex;
    margin-right: 16px;
    /* position: relative; */
    /* background-color: initial; */
    /* border: 0; */
}

.profileIconImage {
    /* align-items: center; */
    background-color: #fff8eb;
    border: 0.0625rem solid #fdc958;
    border-radius: 6.25rem;
    /* border-radius: 0.1875rem; */
    /* display: flex; */
    /* padding: 4px 0.375rem; */
    padding: 4px 16px;
    /* line-height: 1.5rem; */
    display: inline-block;
    height: 1.5rem;
    /* line-height: 2rem; */
    /* line-height: 1; */
    /* min-width: 1.5rem; */
    /* width: 1.5rem; */
    /* transform-origin: 0px 0px; */
}

.profileMenuContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    margin-top: 42px;
    padding-bottom: 8px;
    padding-left: 0;
    /* width: 19.75rem; */
    border-radius: 0.1875rem;
    box-shadow: 0 0 0 0.0625rem #0000001a;
    /* max-height: 70rem; */
    right: 32px;
    /* transition: transform .15s ease-out,opacity .15s ease-out,position .15s ease-out,max-height 0s; */
    /* top: 100%; */
    z-index: 100;
    /* text-size-adjust: 100%; */
    line-height: 1.15;

}

.profileMenuContainer::before {
    /* background: #0000; */
    border-color: #fff #0000 #0000 #fff;
    border-style: solid;
    border-width: 0.375rem;
    box-shadow: -0.0625rem -0.0625rem 0 0 #00000026;
    content: "";
    /* display: block; */
    /* height: 0; */
    /* opacity: 1; */
    /* overflow: hidden; */
    position: absolute;
    right: calc(16px - 0.125rem);
    top: -0.375rem;
    transform: rotate(45deg);
    /* width: 0; */
}

.profileMenuGreeting {
    /* font-size: 16px; */
    font-weight: 700;
    padding: 16px 16px 8px;
}

.profileMenuUserLink {
    /* color: #2d333f; */
    /* font-size: 16px; */
    padding: 8px 16px;
    /* background: #fff; */
    /* border: 0; */
    /* box-sizing: border-box; */
    /* position: relative; */
    /* text-align: left; */
}

.profileMenuUserLink:hover {
    background-color: #00000008;
    color: #2d333f;
}

.profileMenuSignOut {
    color: #da3743;
    cursor: pointer;
    /* font-size: 16px; */
    padding: 8px 16px;
    /* box-sizing: border-box; */
    /* position: relative; */
}

.profileMenuSignOut:hover {
    background-color: #00000008;
    color: #2d333f;
}