button {
    background-color: #da3743;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.red:hover {
    cursor: pointer;
    background-color: #b8222d;
}